*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.auth-buttons {
    display: flex;
    align-items: center;
    gap: 14px;
}

.login-btn {
    color: #008c95;
    font-size: 15px;
    text-decoration: none;
}

.signup-btn {
    background: #008c95;
    color: white;
    padding: 8px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.25s;
}

.signup-btn:hover {
    background: #006f76;
}


.user-display {
    display: none;
    color: #008c95;
    font-weight: bold;
    margin-left: 15px;
    font-size: 15px;
}

.footer {
    background: #0b1b1d;
    color: #e9f3f4;
    padding: 35px 0 15px;
    margin-top: 20px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.footer h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #ffffff;
}

.footer p,
.footer a {
    font-size: 14px;
    color: #c8d8da;
    text-decoration: none;
}

.footer a:hover {
    color: #ffffff;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    color: #9fb2b4;
}